.fallout{
    margin-top: 100vh;
    height: 200vh;
    background-color: rgb(148, 123, 53);
    color: rgb(255, 230, 198);
}
.fallout h1{
    padding: 20px;
    padding-top: 50px;
    font-size: 5rem;
    color: rgb(49, 2, 2);
}
.fallout p{
    font-size: 20px;
}
.fallout img{
    width: 70%;
    margin: 0;
    border-radius: 10px;
}
.fallout img:hover{
    cursor: pointer;
}
.fallout #amazon{
    margin-top: 30px;
    padding: 100px;
    background-color:  rgb(54, 43, 13);
}
.fallout #amazon p{
    margin-top: -30px;
    text-align: left;
    color: rgb(226, 222, 212);
    font-size: 20px;
}