.landing{
    font-family: 'Courier New', Courier, monospace;
}
.landing .top{
    background-color: rgb(228, 234, 240);
    padding: 2rem;
}
.landing .top h1{
    margin: 0;
    font-size: 7rem;
}
.landing .inputs {
    padding: 2rem;
}
.landing .inputs #btn{
    margin-left: 5px;
    height: 40px;
    margin-top: 5px;
}
.landing #alert {
    width: 30%;
    margin-left: 35%;
    margin-top: -20px;
}
.landing .results{
    margin-top: -10px;
}