.landing{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--white);
    height: 100vh;
}
.landing .top{
    background-color: var(--blue);
    padding: 2rem;
}
.landing .top{
    color: var(--white);
}
.landing .top h1{
    margin: 0;
    font-size: 7rem;
}
.landing .inputs {
    padding: 2rem;
}
.landing img{
    width: 50px;
    margin-right: 200px;
    margin-left: -200px;
}
.landing .inputs #btn{
    margin-left: 5px;
    height: 40px;
    background-color: var(--yellow);
    color: var(--dark-grey);
    margin-top: -40px;
}
.landing #alert {
    width: 30%;
    margin-left: 35%;
    margin-top: -20px;
}
.landing .results{
    margin-top: -10px;
    font-size: 20px;
    color: var(--dark-grey);
}